header
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="location") Location
            li
                a(href="mission") Mission
            li
                a(href="contact") Contact